$green: #4DB546;

$warning: #ffdd44;
$red: #ff3322;

$black: #191920;
$black-900: #212127;
$black-800: #222229;
$black-700: #303036;
$black-600: #323239;
$black-500: #404046;
$black-400: #454552;
$black-300: #484858;

$sidebar-background-color: $black-800;
$sidebar-hover-color: $black-600;
$app-background-color: $black;
$separator-color: $black-900;
$separator-width: 1px;

$white: #fff;
$white-100: #eee;
$white-200: #cfcfcf;
$white-300: #aaa;
$white-400: #777;


$gray: #888888;
$gray-800: #606065;
$gray-900: #292934;

$primary: #2688ff;
$secondary: #26aaff;
$accent: #2688ff;
$accent-2: #26aaff;
$success: #33bb44;
$warning: #ffdd44;
$error: #ff3322;